<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo Post</title>
</head>
<body>


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <!--  <h4 class="m-0 font-weight-bold text-gray-900" >Registro de nueva comunidad</h4>   -->
            <h4 class="m-0 font-weight-bold text-gray-900" th:text="${post.idpost==0?'Registro de nueva post':'Editar post'}">Registro de nueva comunidad </h4>
        </div>
        <div th:text="${errorPost}" class="alert alert-danger" role="alert"></div>
        <div class="card-body">

            <form method="post" th:action="@{/post/guardarpost}" th:object="${post}">
                <input th:field="${post.idpost}" type="hidden"/>
                <div class="form-group col-md-6">
                    <label for="title">Titulo</label>
                    <input th:field="*{title}"  type="text" class="form-control"  >
                    <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="summary">Resumen</label>
                    <input th:field="*{summary}"  type="text" class="form-control"  >
                    <div class="text-danger" th:if="${#fields.hasErrors('summary')}" th:errors="*{summary}"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="content">Contenido</label>
                    <input th:field="*{content}"  type="text" class="form-control"  >
                    <div class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
                </div>
                <div class="form-row col-md-2">
                    <div class="form-group col-md-8">
                        <a th:href="@{/post/ListarPost}" class="btn btn-danger">Cancelar</a>
                    </div>
                    <div class="form-group col-md-2"  >
                        <button type="submit" class="btn btn-primary" th:text="${post.idpost==0?'Registrar':'Actualizar'}">Registrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>